<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'shortener/css/index.css' %}">
</head>
<body>
    <div class="container">
        <h1>-----لینک بر-----</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">ثبت</button>
        </form>
    </div>
</body>
</html>
